html {
  display: flex;
  justify-content: center;
  background-color: rgb(248, 246, 246);
}

h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  margin: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  background-color: rgb(26, 101, 151);
  padding: 12px 16px;
}

.active {
  background-color: red;
}

#containerEigenTxt {
  display: flex;
}

#eigenTxt {
  flex: 1;
}